#id001{
    color: blue;
    font-size: 20px;
    border: blue 2px solid;
}
#id002{
    color: red;
    font-size: 20px;
    border: 5px blue dotted;
}
/*id选择器: 值是唯一的,也就是说不能达到复用,只能在一个标签上使用。

class选择器:值不是唯一的,可以达到复用,可以在多个标签上进行使用,
            这就很强大了,写一个 style,然后可以在很多标签上进行使用,
            这也就是很多框架为什么选择使用 类选择器了。*/
.class01{
    color: blue;
    font-size: 20px;
    border: blue 2px solid;
}
.class02{
    color: blue;
    font-size: 20px;
    border: blue 2px solid;
}